NODE_ENV=
PORT=

//LOCAL

DATABASE_URL=



JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

BCRYPT_SALT_ROUNDS=

BKASH_APP_SECRET=
BKASH_APP_KEY=


STRIPE_SECRET_KEY=

BKASH_TOKENIZE_USER_NAME=
BKASH_TOKENIZE_PASSWORD=

BKASH_TOKENIZE_BASE_URL=


BKASH_CALLBACK_URL=




REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=




ADMIN_EMAIL=
ADMIN_PASSWORD=


BACKEND_URL=

FRONTEND_URL=
